.active{
    background-color:  rgb(56 189 248);
    
}
.tabs-content{
    margin-left: 5%;
    margin-right: 5%;
}
.img-color{
    /* background-color: #FC766AFF; */
    background-color: #FDDB27FF;
}
