.line{
    height: '3px';
}
.orange{
    /* background-color: rgb(109, 186, 202); */
    background-color: black;
    /* background-color: orange; */
}
.button{
    /* background-color: rgb(109, 186, 202); */
    background-color: orange;
}
.font{
    color: aqua;
}
.image{
    width: 250px;
    height: 15%;
}